{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        {% comment %} <link rel="stylesheet" href="{% static "app.css" %}"> {% endcomment %}
        {% block css_files %}{% endblock css_files %}
    </head>
    <body>
        <header id="main-navigation">
            <h1><a href="{% url "homepage" %}">Formula 1 Data Visualized</a></h1>
            <h2>
                <nav>
                    <a href="{% url "choose_session" %}">Choose Session</a>
                    <a href="{% url "plot_list" %}">Plot List</a>
                </nav>
            </h2>
        </header>
        {% block content %}{% endblock content %}
    </body>
    </html>